:root {
    /* Bold typography*/
    --navbar-weight: 900;
    /* Colors */

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.navbar-brand {
    width: 40px;
}

.navbar {
    font-weight: var(--navbar-weight);
    background-image: linear-gradient(to right, rgb(204, 74, 74), rgba(231, 165, 165, 0.418)), url(../img/navbar/background_img.png)
}

.active-link {
    text-shadow: 0 0 15px #000, 0 0 10px #000, 0 0 5px #000;
}

/* Carousel styles */

.carousel {
    height: 60vh;
}

.carousel-inner {
    height: 100%;
}
.carousel-item {
    height: 100%;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,.8), transparent, rgba(0,0,0,.8));
}

.carousel-img {
    object-fit: cover;
    object-position: center;
    height: 100%;
}