:root {
    /* Bold */
    --navbar-weight: 900;
    --footer-weight: 600;
    /* Size */
    --xs-size: 10px;
    --sm-size: 16px;
    --md-size: 20px;
    --lg-size: 24px;
    --xl-size: 30px;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.navbar-brand {
    width: 40px;
}

.navbar {
    font-weight: var(--navbar-weight);
    background-image: linear-gradient(to right, rgb(204, 74, 74), rgba(231, 165, 165, 0.418)), url(../img/navbar/background_img.png);
}

.active-link {
    text-shadow: 0 0 15px #000, 0 0 10px #000, 0 0 5px #000;
}

/* Carousel styles */

.carousel {
    height: 60vh;
}

.carousel-inner {
    height: 100%;
}
.carousel-item {
    height: 100%;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,.8), transparent, rgba(0,0,0,.8));
}

.carousel-img {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-image: linear-gradient(to right, rgb(94, 30, 30), rgba(190, 29, 29, 0.418)), url(../img/navbar/background_img.png);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__legend {
    font-weight: var(--footer-weight);
}

/* Pokedex grid */

.pokedex {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    row-gap: 35px;
    column-gap: 20px;

}

.pokedex__card {
    border-radius: 7px;
    box-shadow: 0 1.2rem 4rem #000;
    position: relative;
    display: flex;
    flex-direction: column;
}

.pokedex__card--info {
    flex-grow: 1;
}

.pokedex__img {
    height: 50%;
}

.pokedex__name {
    font-size: var(--md-size);
}


.pokedex__brief {
    padding: 10px;
    text-align: center;
    font-size: var(--sm-size);
}

.pokedex__card--sumup-grass {
    background-image: linear-gradient(to right, #78c850, transparent);
}

.pokedex__card--sumup-fire {
    background-image: linear-gradient(to right,#f05030, transparent);
}

.pokedex__card--sumup-water {
    background-image: linear-gradient(to right,	#3899F8, transparent);
}

.pokedex__fact {
    padding: 5px;
}

.pokedex__key {
    font-size: var(--xs-size) ;
}

.pokedex__number {
    font-size: var(--md-size);
    position: absolute;
    top: 10px;
    right: 10px;
}

.pokedex__badge {
    border: 1px solid #eee;
    font-size: var(--xs-size);
}

.pokedex__badge--grass {
    background-color: 	#78c850;
}

.pokedex__badge--poison {
    background-color: #b058a0;
}

.pokedex__badge--flying {
    background-color: 	#98a8f0;
}

.pokedex__badge--fire {
    background-color: #f05030;
}

.pokedex__badge--water {
    background-color:#3899f8;
}

.pokedex__badge--ground {
    background-color: #e9d6a4;
    background-color: 	#B8A058;
}

.pokedex__badge--rock {
    background-color: 	#b8a058;
}

.pokedex__badge--electric {
    background-color: 	#f8d030;
}

.pokedex__further {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: #eee;
    transition: all 300ms ease-in;
}

.pokedex__further:hover {
    background-color: #000;
}

.pokedex__further--grass {
    background-color: #78c850;
}

.pokedex__further--fire {
    background-color: #f05030;
}

.pokedex__further--water {
    background-color:#3899F8;
}

/* Error404 */

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error__img {
    object-fit: cover;
}